.doc-block {
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.2px;
}

a {
  color: #424245;
}

.title-inline {
  width:100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.goto-top {
  background: #2e3440;
  border-top-left-radius: 6rem;
  border-top-right-radius: 6rem;
  color: #fafafa;
  padding:0.6rem;
}