.doc-title {
  text-align:center;
  background-color: #e5e9f1;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.45rem;
}

#content img {
  position: relative;
  left:50%;
  transform: translate(-50%);
}